<a href="@Url.Action("Index", "Client", new  { isActive=true })" class="btn btnLeftMenu" style="width:100px;">
    Home
</a>
<a href="@Url.Action("Index", "Organization", new { isActive = true })" class="btn btnLeftMenu" style="width:100px;" >
    Organizations
</a>
<a href="@Url.Action("Index", "Organization")" class="btn btnLeftMenu" style="width:100px;">
    All Organizations
</a>

 