@model ClientVo
@using SO.Urba.Models.ValueObjects
@{
    Layout = null;
}


<div class="row" style="white-space:nowrap">
    <div class="span3" style="display:inline">Client: <h4 style="display:inline">@Model.contactInfo.name</h4></div>
    <div class="span1" style="display:inline">Id: <h4 style="display:inline">@Model.clientId</h4></div>
</div>

