<a href="@Url.Action("Index", "Client", new  { isActive=true })" class="btn btnLeftMenu" style="width:100px;">
    Home
</a>
<a href="@Url.Action("Index", "Member", new { isActive = true })" class="btn btnLeftMenu" style="width:100px;" >
    Members
</a>
<a href="@Url.Action("Index", "Member")" class="btn btnLeftMenu" style="width:100px;">
    All Members
</a>

 