
@{
    ViewBag.Title = "CreatedBy";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<tr>
    <td>
        <h2>Created By</h2>
    </td>
    <tr></tr>
    
    <tr>
    <td width="155" valign="top" style="word-spacing:1px;">
        <p><br /></p>
        <table width="100%" height="71" border="0" cellpadding="7" cellspacing="0">
            <tr>
                <td width="71%"><strong><span class="Home_Links"><strong>    </strong></span></strong></td>
            </tr>
        </table>
        <br />

        <div class="Font_12" style=" margin-top:0px;  margin-left:10px;">
            <p>
                Utilizes latest technology, development tools, models, techniques and approach 
                to deliver cost effective yet quality solutions in higher standards to all of our clients. Some of  
                Current Technologies in use:  ASP.Net,   ASP,   VB.Net,  C#,   PHP,  JAVA,  JSP,   Cold Fusion, AJAX and others.
            </p>
        </div>
        </p>
    </td>
    <td valign="top" style="width:1px; height:100%; background-color:#E4E4E4;">
        <img src="Template/images/transparent.gif" width="1" height="1" />
    </td>

    <td width="279" valign="top" style="word-spacing:1px;">
        <p><br /></p>
        <table width="100%" border="0" cellspacing="0" cellpadding="10">
            <tr>
                <td width="71%" class="Home_Links"> <strong> SOLUTIONS: </strong> </td>
            </tr>
        </table>
        <div class="Home_Links" style=" margin-top:10px; width:245px;  line-height:20px; ">
            <ul style="left:2px; text-align:left;">
                <li>Application Programming </li>
                <li>Desktop Software Programming </li>
                <li>Web Application Programming </li>
                <li>Web Design and  Programming</li>
                <li>Website CMS Development </li>
                <li>Database Design and Programming </li>
            </ul>
        </div>
    </td>
</tr>

    
    <td></td>
    
</tr>