<a href="@Url.Action("Index", "Client", new  { isActive=true })" class="btn btnLeftMenu" style="width:100px;">
    Home
</a>
<a href="@Url.Action("Index", "CompanyCategoryType", new { isActive = true })" class="btn btnLeftMenu" style="width:100px;" >
    Categories
</a>
<a href="@Url.Action("Index", "CompanyCategoryType")" class="btn btnLeftMenu" style="width:100px;">
    All Categories
</a>

 